.button-wrapper {
  cursor: pointer;
  background-color: var(--text);
  color: var(--bg-black);
  font-size: 24px;
  font-weight: 700;
  padding: 20px 45px;
  border-radius: 10px;
  width: max-content;
}

@media all and (max-width: 767px) {
  .button-wrapper {
    font-size: 15px;
    padding: 16px 20px;
  }
}
