.header {
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 20px;
}

.header-logo {
  height: 80px;
}

.nav-item {
  font-size: 18px;
  font-weight: 600;
  margin: 0px 20px 0px 24px;
  cursor: pointer;
}

.menu-wrapper {
  position: relative;
  background-color: #2f0b33;
}

.mobile-menu {
  position: fixed;
  background-color: var(--bg-black);
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  height: 100vh;
  width: 100vw;
  text-align: left;
  padding: 32px;
  top: 0px;
  left: 0px;
  transition: transform 0.3s ease-in-out 0s;
  z-index: 1;
}
.overlay {
  transform: translateX(0px);
}

.mobile-menu-button {
  z-index: 2;
}

.mobile-navbar {
  margin-top: 95px;
  overflow-y: scroll;
  width: 90%;
}

.mobile-nav-item {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--bg-light-gray);
}

.harsh {
  font-size: small;
}
.gitlink {
  margin-left: 5px;
  color: var(--text);
}

@media all and (max-width: 1279px) {
  .header-logo {
    height: 53px;
  }
  .nav-item {
    margin: 0px 16px 0px 28px;
  }
}

@media all and (max-width: 767px) {
  .header {
    padding-bottom: 50px;
  }
}
