.purple-section {
  background-color: var(--bg-purple);
  background-position: center top;
}
.purple-heading,
.purple-description,
.purple-subheading {
  text-align: center;
}

.purple-description {
  max-width: 100%;
}

@media all and (max-width: 1279px) {
  .purple-section {
    background-position: center top;
  }
}
@media all and (max-width: 767px) {
  .purple-section {
    min-height: 750px;
    background-position: center;
  }
  .purple-heading {
    margin-top: 50px;
  }
  .purple-description {
    margin-top: 10px;
  }
}
